@page
@model eigen_website_1._0.Pages.students.IndexModel
@{
}
<body>  
<h1>contact pagina huis boschdijk 114</h1>
<br>
 <!--dit is een comment-->
 <!-- zo maak je een boarder om je tabel-->
 <style>
        .kamer {
            background-color: darkorange
        }

        .persoon {
            background-color: red
        }

        .leeftijd {
            background-color: white
        }

        .locatie {
            background-color: dodgerblue
        }

        .nummer {
            background-color: darkorange
        }


        table, th, td{border: 1px solid black;}
     th, td { padding: 15px;}
     th, td {}
 </style>
<table>

    <tr>    
        <th class="persoon">Naam</th>
        <th class="leeftijd">Leeftijd</th>
        <th class="locatie">Plaats</th>
        <th class="nummer">Telefoonnummer</th>
        <th class="kamer">Kamer</th>
    </tr>
    <tr>
        <td class="persoon">Mo</td>
        <td class="leeftijd">41</td>
        <td class="locatie">Eindhoven</td>
        <td class="nummer">0621488756</td>
        <td class="kamer">1.0</td>
    </tr>
    <tr>
        <td class="persoon">Bram</td>
        <td class="leeftijd">32</td>
        <td class="locatie">Eindhoven</td>
        <td class="nummer">0621876756</td>
        <td class="kamer">1.2</td>
    </tr>
    <tr>
        <td class="persoon">Maikel</td>
        <td class="leeftijd">32</td>
        <td class="locatie">Eindhoven</td>
        <td class="nummer">0621349556</td>
        <td class="kamer">1.4</td>
    </tr>
      <tr>
        <td class="persoon">Rik</td>
        <td class="leeftijd">28</td>
        <td class="locatie">Eindhoven</td>
        <td class="nummer">0621234756</td>
        <td class="kamer">1.6</td>
    </tr>
</table>
</body>


