@page
@model eigen_website_1._0.Pages.Afvalwijzer.AfvalModel
@{
}
<style>
    .afvalwijzer-box {
        border: 3px solid #80C9E4; /* dezelfde kleur als je header */
        border-radius: 10px;
        background-color: #ffffff;
    }
</style>


<div class="row">
    <div class="col p-4 afvalwijzer-box">
        <h2> 
        Met De link hier onder kun je een app downloaden of een account online aanmaken en updates krijgen over wanneer het vuilnis opgehaald word.
        </h2>

        <h4>
            Link: <a href="https://www.mijnafvalwijzer.nl/">Afvalwijzer-Eindhoven</a> .
        </h4>
    </div>
</div>