@page
@model eigen_website_1._0.Pages.Log_in.Log_in1Model
@{
}
<h1>Log-in pagina 1.0</h1>

<h2>Inloggen</h2>

<form method="post">
    <label>Email:</label>
    <input name="Email" class="form-control" required />

    <label>Wachtwoord:</label>
    <input name="Password" type="password" class="form-control" required />

    <button type="submit" class="btn btn-primary mt-3">Log in</button>
</form>

@if (Model.ErrorMessage != null)
{
    <p style="color:red;">@Model.ErrorMessage</p>
}
