@page
@model eigen_website_1._0.Pages.QuotesList.QuotesModel
@{
}
@{
    ViewData["Title"] = "Nieuwe quote";
}

<h2>Nieuwe quote toevoegen</h2>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Quote</label>
        <textarea class="form-control" name="Tekst" required rows="3"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Auteur (optioneel)</label>
        <input type="text" class="form-control" name="Auteur" />
    </div>

    <button type="submit" class="btn btn-primary w-100">Opslaan</button>
</form>
