@page
@model eigen_website_1._0.Pages.AanvullendeDiensten.DienstenModel
@{
}

<style>
    .dienst1 {
        border: 3px solid #80C9E4; 
        border-radius: 10px;
        background-color: #ffffff;
        padding: 30px !important;
    }
</style>


<div class="row">
    <div class="col p-4 dienst1">
        <h2>
           Dit is de link voor de klussjes man, je kunt hem bellen of een afspraak maken .
        </h2>
        <h3>
            Let op dit is alleen voor prive gebruik en de rekning zal ook voor u zelf zijn.
        </h3>
        <h4>
            Link: <a href="https://www.040klusbedrijf.nl/klusjesman/?qooqie_creative_id=432630967400&keywords=%2Bklusjesman&gad_source=1&gad_campaignid=20195500745&gbraid=0AAAAADjADA83KeKntu3zw-tt0yqBajl8v&gclid=Cj0KCQiAxJXJBhD_ARIsAH_JGjhh3POXTeZLlT0s5oqro-nRByQFH5ZyKzQXrhpkwhsKTvebWLzVvkAaAnPOEALw_wcB">Klus bus Eindhoven.</a> .
        </h4>
    </div>
</div>
<br>
<div class="row">
    <div class="col p-4 dienst1">
        <h2>
            grote beurt ketel.
        </h2>

        <h4>
            Link: <a href="https://www.mijnafvalwijzer.nl/">hier een link maken die je gelijk naar de klachtenformulier brengt en...</a> .
        </h4>
    </div>
</div>
<br>
<div class="row">
    <div class="col dienst1">
        <h2>
            Vragen over je watergebruik, hier is de link naar Brabant Water.
        </h2>

        <h4>
            Link: <a href="https://www.brabantwater.nl/">Brabant Water.nl</a> .
        </h4>
    </div>
</div>
<br>
<div class="row">
    <div class="col p-4 dienst1">
        <h2>
            vind hier onze samenwerking met Vattenfall.
        </h2>

        <h4>
            Link: <a href="https://www.vattenfall.nl/energie-aanbiedingen/black-friday-energie-deals-playstation/?cmp=SEM-310-13691&keyword=&gclsrc=aw.ds&&https://www.vattenfall.nl/energie-aanbiedingen/black-friday-energie-deals-playstation/%3Fcmp%3DSEM-310-13691%26keyword%3D%26gclsrc%3Daw.ds%26?utm_cid=23225063242&utm_agid=&utm_kw=&utm_mt=&gad_source=1&gad_campaignid=23215708287&gbraid=0AAAAADl6olKA4E7dEngBP1Py_CKIYr9nj&gclid=Cj0KCQiAxJXJBhD_ARIsAH_JGjjrHIUFeka7pAYEJTWpZVyg4HB6lewQa1ZkIRU_Uq7A9DuT8QoAdy8aAnAjEALw_wcB">Gas,Water en Licht link.</a> .
        </h4>
    </div>
</div>
<br>
<div class="row">
    <div class="col p-4 dienst1">
        <h2>
           Verhuis service studenten verhuizen.
        </h2>

        <h4>
            Link: <a href="https://www.studentverhuisservice.nl/home-cro/?gad_source=1&gad_campaignid=1629968360&gbraid=0AAAAADoclqMbn62NYTB3akYV5ehT2qqCK&gclid=Cj0KCQiAxJXJBhD_ARIsAH_JGjit1I-vshGFk73Ld2p6LealX0wzMrAjTopcVmHma1mzWbdTRuItnwwaAlVlEALw_wcB">Verhuisbedrijf, studenten</a> .
        </h4>
    </div>
</div>
<br>
<div class="row">
    <div class="col p-4 dienst1">
        <h2>
            ontstoppings dienst.
        </h2>

        <h4>
            Link: <a href="https://ontstoppen-eindhoven.nl/">Ontstopping-Eindhoven.</a> .
        </h4>
    </div>
</div>

